<!--<div class="row">
  <div fxLayoutGap="column">
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon class="mat-18">developer_mode</mat-icon>
      </button>
      <span style="cursor: pointer;" routerLink="/home">Paylocity Coding Challenge</span>
      <span class="flex-space"></span>

      <mat-icon class="mat-18">list</mat-icon>
      <span class="mx-2" style="cursor: pointer;" routerLink="/employeeDetails" routerLinkActive="active">List Employees</span>
      <mat-icon class="mat-18">badge</mat-icon>
      <span style="cursor: pointer;" class="mx-2" routerLink="/employee" routerLinkActive="active">Add Employee</span>
    </mat-toolbar>
  </div>
</div>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <mat-icon class="mat-18">developer_mode</mat-icon>
    <a class="navbar-brand" routerLink="/home">Paylocity Coding Challenge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav me-2 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/employeeDetails" routerLinkActive="active">
            <i class="fas fa-list-alt"></i>
            List Employees
          </a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" routerLink="/employee" routerLinkActive="active">            
            <i class="fas fa-address-book"></i>
            Add Employee
          </a>
        </li>

      </ul>
    </div>
  </div>  
</nav>
