<div class="row">
  <div fxLayoutGap="column">
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon class="mat-18">developer_mode</mat-icon>
      </button>
      <span style="cursor: pointer;" routerLink="/home">Paylocity Coding Challenge</span>
      <span class="flex-space"></span>

      <mat-icon class="mat-18">list</mat-icon>
      <span class="mx-2" style="cursor: pointer;" routerLink="/employeeDetails" routerLinkActive="active">List Employees</span>
      <mat-icon class="mat-18">badge</mat-icon>
      <span style="cursor: pointer;" class="mx-2" routerLink="/employee" routerLinkActive="active">Add Employee</span>
    </mat-toolbar>
  </div>
</div>
