.img-home {
  display: block;
  margin: auto;
  background-image: url(../assets/images/paylocity-homepage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
