<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 5%;">
  <h1>Employee(s) Information</h1>
  <!--<loading-spinner *ngIf="employees"></loading-spinner>-->
  <div *ngIf="!employees">
    <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: large;">
      Please add an employee
    </p>
  </div>
  <!-- Pagination directive -->
  <mat-paginator [hidden]="!employees"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 20, 50]"
                 fxLayout="row" fxLayoutAlign="start center"></mat-paginator>

  <table mat-table [dataSource]="employees" fxFlex="35" class="table-striped mat-elevation-z8 employee-details-test" [hidden]="!employees">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
    </ng-container>
    <!-- Last name Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>Last name</th>
      <td mat-cell *matCellDef="let employee">{{ employee.lastname }}</td>
    </ng-container>
    <!-- Dependents Column -->
    <ng-container matColumnDef="dependents">
      <th mat-header-cell *matHeaderCellDef>Dependents</th>
      <td mat-cell *matCellDef="let employee">
        <div *ngIf="employee.dependents !== undefined">
          <ul *ngFor="let dep of employee.dependents">
            <li>
              {{ dep.name + ' ' + dep.lastname + ' ' + '[' + dep.relationshipWithEmployee + ']' }}
            </li>            
          </ul>
        </div>
      </td>
    </ng-container>
    <!-- Deduction Column -->
    <ng-container matColumnDef="deduction">
      <th mat-header-cell *matHeaderCellDef>Deduction</th>
      <td mat-cell *matCellDef="let employee">{{ employee.deduction | currency:'USD' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
